<div layout="row" ng-controller="MessageController as mctrl">
	<div flex="25">
		<md-list >
		  	<md-list-item ng-repeat="(name, info) in mctrl.users_info" ng-click="mctrl.setCurrentUser(name)">
		  		{{name}}
			</md-list-item>
		</md-list>
	</div>
	<div flex="50">
		<div ng-repeat="message in mctrl.current_user_messages">
			{{message.text}}
		</div>
	</div>
	<div flex="25" layout="column">
		<div flex>
			<md-list >
			  	<md-list-item ng-repeat="message in mctrl.generic_messages">
					{{message}}
				<md-checkbox class="md-secondary" ng-click="wctrl.addGenericMessage(message)">
				</md-checkbox>
				</md-list-item>
			</md-list>
		</div>
		<div flex ng-if="wctrl.existsSelectedGenericMessage()" layout="row">
			<md-button md-no-ink class="md-primary" flex="50" ng-click="mctrl.send()">
				Send
			</md-button>
			<md-button md-no-ink class="md-primary" flex="50" ng-click="mctrl.sendToAll()">
				Send to all
			</md-button>
		</div>
	</div>
</div>